<h1>Reference Question</h1>
<p>Request received: <%= Time.now %></p>

<div class="user">
  <h2>Patron info</h2>
  <strong>Name: </strong> <%= @request.user_name %><br>
  <strong>Email: </strong> <a href="mailto:<%= @request.user_email %>"><%= @request.user_email %></a><br/>
  <strong>Notes for Staff: </strong>
  <div>
    <strong>Collection details, if any: </strong>
    <%= (@request.collection || "").gsub(/[\n\r]/,"<br>\n").html_safe %>
  </div>
  <div>
    <strong>Question: </strong>
    <%= (@request.question || "").gsub(/[\n\r]/,"<br>\n").html_safe %>
  </div>
  <div>
    <strong>Works consulted, if any: </strong>
    <%= (@request.consulted || "").gsub(/[\n\r]/,"<br>\n").html_safe %>
  </div>
</div>

<div class="request">
  <h2>Relevant record</h2>
  <%= @request.to_text_array(false).each do |info| %>
    <%= info%><br>
  <% end %>
</div>
