<%= form_tag(app_prefix("push_question"), method: 'post', :id => 'request_form') do %>
  <%= render partial: 'shared/request_hiddens' %>
  <div  id="request">
    <div class="form-group required ">
      <%= label_tag(:user_name, "#{t('request.user_name')} #{t('request.required')}" ,  :class => 'sr-only') %>
      <div class="input-group">
        <%= text_field_tag :user_name, nil, :placeholder => t('request.user_name'), :class => "form-control"%>
        <div class="input-group-addon">
          <span class="required aria-hidden"><%= t('request.required') %></span>
        </div>
      </div>
    </div>
    <div class="form-group required ">
      <%= label_tag(:user_email, "#{t('request.user_email')} #{t('request.required')}",  :class => 'sr-only') %>
      <div class="input-group">
        <%= text_field_tag :user_email, nil, :type => 'email', :placeholder => t('request.user_email'), :class => 'form-control' %>
        <div class="input-group-addon">
          <span class="required aria-hidden"><%= t('request.required') %></span>
        </div>
      </div>
    </div>
     <div class="form-group ">
      <%= label_tag(:collection, t('request.collection'),  :class => 'sr-only') %>
      <%= text_area_tag :collection, nil, :rows=> "3", :cols => "25", :placeholder => t('request.collection_placeholder'), :class => 'form-control' %>
    </div>
    <div class="form-group ">
      <%= label_tag(:question, t('request.question'), :class => 'sr-only')%>
      <%= text_area_tag :question, nil, :rows=> "3", :cols => "25", :placeholder => t('request.question'), :class => 'form-control' %>
    </div>
    <div class="form-group ">
      <%= label_tag(:consulted, t('request.consulted'),  :class => 'sr-only') %>
      <%= text_area_tag :consulted, nil, :rows=> "3", :cols => "25", :placeholder => t('request.consulted'), :class => 'form-control' %>
    </div>
    <div class="form-group honeypot">
      <span class="aria-hidden">
        <%= label_tag :comment %>
        <%= text_field_tag :comment, nil, tabindex: '-1', :class => 'form-control'%>
      </span>
    </div>
    <button type="submit" class="btn btn-primary action-btn noscript"><%= t('request.submit') %></button>
  </div>
<% end %>
